@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-instrument-sans: "Instrument Sans", sans-serif;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --color-primary-black: #0e0e10;
  --color-primary-red: #ea223c;
  --color-dark-gunmetal: #121b2f;
}

[dir="rtl"] .text-left {
  text-align: right;
}

[dir="rtl"] .text-right {
  text-align: left;
}

[dir="rtl"] .mr-2 {
  margin-right: 0;
  margin-left: 0.5rem;
}

[dir="rtl"] .ml-2 {
  margin-left: 0;
  margin-right: 0.5rem;
}
